@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
  }
  
  @font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
  }
  
  @font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
  }
  
  :root {
    font-size: 16px;
    --white30: white;
    --white20: #A5A3A5;
    --white10: #3A3539;
  }
  
  body {
    color: var(--white30);
    font-family: 'Roboto';
    background: var(--white30);
    margin: 0;
   /* writing-mode: vertical-lr; */
  /* margin: 10px 10px 10px 10px; */
  /* margin-inline: 100px; */
  /* margin-block: 100px; */
  /* margin-block-start: 50px; */
  /* margin-block-end: 50px; */
  /* margin: 0 100px; */
  /* margin-block: ; */
  /* font-family: charter; */
  }
  
  a {
    color: var(--white30);
  }

 .header-content{
     /* position: relative;
    inset-block-start: 65px;*/
    margin-block-start: 40px;
    padding-inline: 16px;
    margin-block-end: 40px;
  }

  header {
    margin-block-start: 20px;
    font-size: 14px;
    color: var(--white);
    /*position: absolute;*/

    /*Top*/
    /*inset-block-start: 0;*/
      /*bottom
    inset-block-end: ;*/
      /*left*/
      /*inset-inline-start: -208px;*/
      /*right
      inset-inline-end: ;*/
      /*inline-size: 188px;*/
  }

  

  .template{
    color: var(--white30);
  }

  .template:hover{
    color: var(--white30);
  }
  

  .title-header{
    padding-block-start: 40px;
  }

  /*.header{
    position: sticky;
    inset-block-start: -45px;
  }*/

  header li{
    color: var(--white20);
    margin-block-end: 16px;
  }
  
  header a {
    color: #616161;
    text-decoration: none;
  }

  header a:hover {
    color: #616161;
  }
  
  header p{
    color: #616161;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  nav{
    border-left: 4px solid #C4C4C4;
  }

  nav details summary {
    color: #616161;
    font-weight: bold;
    list-style: none;
    padding-left: 20px;
  }

  .header-2 p{
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 700;
    padding-block-start: 40px;
  }

  .header-menu{
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #616161;
    padding-inline: 8px;
    padding-block: 8px;
  }

  .header-2 li:nth-of-type(3) {
    background: #000000;
    border-radius: 4px;
  }

  .header-2 li a:hover:nth-last-of-type(3){
    color: var(--white30);
  }

  .header-2 li:nth-of-type(2) {
    background: none;
    border-radius: 4px;
  }

  .title-header{
    padding-block-start: 40px;
  }

  .template{
    color: var(--white30);
  }


  h1 {
    font-size: 32px;
    font-weight: 400;
    margin-block-start: 20px;
    padding-block-start: 40px;
    margin-block-end: 16px;
    color: #212121
    /*para centrar un texto 
    text-align*/
  }
  
  h2 {
    color: #212121;
    font-size: 24px;
    font-weight: 400;
    margin-block: 40px;
  }
  
  h3 {
    font-size: 20px;
    font-weight: 400;
    margin-block: 16px;
    color: #424242;
  }

  hr{
    margin-block: 40px;
    border-color:rgba(97, 97, 97, 0.2) ;
  }
  
  pre {
    margin-block-start: 16px;
    margin-block-end: 40px;
    background: #E5E5E5;
    color: #424242;
    padding: 40px;
    overflow: auto;
    border-radius: 8px;
    /*border: 8px solid #5551FF;
    box-shadow: -10px 10px 0 0 #ABAAF6;
    margin-block-end: 30px;*/
  }
  
  p {
    color: #212121;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
  }
   
  .section-content img {
    margin-block-start: 16px;
    margin-block-end: 40px;
    display: block;
    max-inline-size: 100%;
  }
  
  .section-content {
    counter-reset: titleList;
  }
  
  .section-content h3 {
    counter-increment: titleList;
  }
  
  .section-content h3::before {
    content: counter(titleList, decimal)'. ';
  }

.section-content ol li, ul li{
    color: #424242;
}

.section-content ul li::marker{
  color: black;
}
  
 /*.section-content h3::after {
    content: '';
    width: 32px;
    height: 4px;
    background: var(--white30);
    display: inline-block;
  }*/
  
  blockquote {
    margin:40px 0;
    font-size: 24px;
    padding-left: 16px;
    line-height: 24px;
    border-left: 4px solid #212121;
}

  blockquote p {
    font-size: 16px;
    color: #424242;
  }

  
  blockquote span{
    color: #616161;
  }

  blockquote span::before{
    content: '- ';
  }

  .main hr {
    display: none;
  }
  
  .wrapper {
    max-inline-size: 902px;
    margin: auto;
    padding-inline: 16px;
  }
  
  .main-content {
    padding-inline: 16px;
  }
  
  .main p{
    color: #424242;
  }
  
  .slider-container{
    /*block-size: 100px;*/
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
  }

  .video{
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }

  .slider-bullet-list{
    text-align: center;
    margin-block-start: 16px;
  }

  .slider-bullet{
    display: inline-block;
    inline-size: 16px;
    block-size: 16px;
    background: #A5A3A5;
    border-radius: 50%;
    margin-inline-start: 8px;
  }

  .slider-bullet:first-child{
    background: #424242;
  }

  .email{
    font-size: 17px;
    color: #424242;
    line-height: 24px;
    margin-block-start: 40px;
  }

  .email-link{
    color: black;
  }

  .form-title{
    margin-block-end: 16px;
    color: #424242;
    font-size: 24px;
  }

  .form input{
    position: relative;
    inline-size: 280px;
    border-radius: 90px;
    border: 1px solid #616161;
    background: var(--white30);
    box-sizing: border-box;
    /*Padding de los lados*/
    padding-inline: 16px;
    /*Padding de lo alto*/
    padding-block: 12px;
    color: #616161;
    font-size: 16px;
    line-height: 24px;
    display: inline;
    margin-block-end: 24px;
  }

  .form input::-webkit-input-placeholder{
    color: #424242;
  }

  .form input[type="submit"]{
    position: relative;
    border-radius: 90px;
    background: black;
    inline-size: 111.5px;
    color: var(--white30);
    border: none;
    margin-inline-start: -115px;
  }

  .form input{
    inline-size:283px;
  }
 
  .footer{  
    background: #212429;
    height: 174px;
    text-align: center;
  }

  .title-footer{
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--white30);
    padding-block-start:48px;
  }
  .footer-contact{
    text-align: center;
    list-style: none;
    padding: 0;
  }

  .footer-link{
    padding-inline-end: 16px;
  }

  .footer a{
    text-decoration: none;
  }

  

@media screen and (min-width: 1366px){

  .header-content{
    position: relative;
    margin-block-start: 80px;
    padding-inline: 0;
    margin-block-end: 147px;
  }

  header {
    inset-block-start: 0;
    inset-inline-start: -208px;
    inline-size: 188px;
  }

  .title-header{
    padding-block-start: 104px;
  }

  /*.header{
    position: sticky;
    inset-block-start: -45px;
  }*/
  
  .header-2{
    block-size: 306px;
    margin-block-start: 64px;
  }

  .header-2 p{
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
  }

  .header-menu{
    list-style: none;
    font-size: 14px;
    font-family: 'Roboto';
    color: var(--white20);
    padding-inline: 8px;
    padding-block: 8px;
  }
  
  .header-2 li:nth-of-type(2) {
    background: none;
    border-radius: 4px;
  }

  h1{
    font-size: 60px;
    font-weight: 400;
    margin-block-start: 64px;
  }
  h2{
    font-size: 32px;
    font-weight: 400;
  }
  h3{
    font-size: 24px;
    font-weight: 400;
    margin-block: 16px;
  }

    blockquote {
      margin: 61px 0 81px 0;
      font-size: 24px;
      padding-left: 16px;
      line-height: 24px;
      border-left: 4px solid #212121;
  }

  .form input[type="submit"]{
    position: relative;
    border-radius: 90px;
    background: black;
    inline-size: 119px;
    color: var(--white30);
    border: none;
    bottom: 0;
  }
  
  .footer{  
    background: #212429;
    height: 174px;

  }

  .title-footer{
    font-size: 32px;
    text-align: center;
    font-family: 'Nunito';
    font-weight: 400;
    color: var(--white30);
    padding-block-start:48px;
  }
  .footer-contact{
    text-align: center;
    list-style: none;
    padding: 0;
  }

  .footer-link{
    padding-inline-end: 16px;
  }

  .form input:nth-of-type(2){
    inline-size: 337px;
  }


}


